
<div class="suggestion">
<div class="s-text">
<h2>Need a website? </h2>
<p> SupportLabs can hook you up with your own custom website.</p>
</div>
</div>

<div class="tool">
<div class="description">
<h1>Donation Goal</h1>
<p>Show your viewers progress towards your goal by displaying a progress bar.</p>
</div>
<div class="template-selection">
<h2>Templates</h2>
<p> Why not use some of these templates made  by our communtiy </p>
</div>
	<div class="tool-url">
	<h3>Tool URL</h3>
	<input type="password" class="tool-url-field"> </input>
	<br>
	   <p>⚠️This is your widget url. Never show this to anyone!</p>
</div>
<nav class="s-nav">
<a class="s-link" id="goal-settings">Goal Settings</a>
<a class="s-link" id="settings">Settings</a>
</nav>
<div class="goal-settings setting">
<label for="starting-amount">Starting Amount </label>
<input name="starting-amount" type="text">
<label for="goal-amount">Goal Amount</label>
<input name="goal-amount" type="text">
<label for="title" type="text">title</label>
<input name="title" type="text">
<label for="end-after" type="text">End After? </label>
<input name="end-after" type="text" placeholder="seconds">

</div>
<div class="settings setting">
<h1>Colors</h1>
<label for="progress-bar-color">Progress Bar Color</label>
<input type="text" value="green" class="color-picker" id="progress-bar-color" name="progress-bar-color">
<label for="background-color">Bar Backgroud Color </label>
<input type="text" value="white" class="color-picker" id="background-color" name="background-color">
<label for="bar-text-color"> Bar Text Color </label>
<input type="text" value="black" class="color-picker" id="bar-text-color" name="bar-text-color">
<label for="donation-goal-font">Progress Bar Font </label>
<select class="dropdown" id="donation-goal-font" name="donation-goal-font">
<option value="arial">Arial</option>
<option value="titlium-web">Titlium Web </option>
<option value="roboto">Roboto</option>
</select>
<label for="bar-thickness"> Bar Thickness </label>
<input type="slider" name="bar-thickness" value="25"> 
<div class="enable-custom-html subscriber-enable-custom-html">
	<h4>Custom HTML</h4>
	<label for="donation-goal-custom-html">On</label>
	<input type="radio" name="donation-goal-custom-html" class="on" value="on">
	<label for="donation-goal-custom-html">Off</label>
	<input type="radio" name="donation-goal-custom-html" class="on" value="off">
</div>

</div>
