body {
background-image: url("img/space.jpg");
background-size: cover;
}

	

.form-container {
color:white;
margin:100px auto;
width: 30%;
height: auto;
border: 3px solid #E7552C;
padding: 30px;
background-color:#13232F;  

}	

.login {
padding:10px;
text-align: center;
}	

.register{
padding:10px;
text-align: center;

}

.reset{
	text-align: center;
}	


.req{
color: #E7552C;	
}


.menu{
	text-align: center;
}
.menu a{
	padding: 0px 20px 0px 0px;
}


.alt-login {
	padding-bottom: 20px;

}

.alt-login img h3{
	float: center;
	padding: 10px 20px 0px 0px;
	
	
}

.alt-login img{
	width: 50px;
	height: 50px;
	padding-right: 20px;
	
}

.error {
	overflow: hidden;
	padding: 0px 10px 20px 10px;
	color: #ff0b00;
	text-align: center;
}

.prompt{
	padding-bottom: 20px;
}




	

 a:active{
color: white;
}

 a:hover{
color: #E7552C; 
-webkit-transition: .5s ease;
  transition: .5s ease;
 cursor:pointer;
}

input[type=checkbox] {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

	


input[type=text], input[type=password] {
border: 1px solid white;
background: transparent;
padding: 10px;
width: 100%;
}	
input[type=text]:focus{
border: 1px solid #E7552C;
background: transparent;
-webkit-transition: .3s ease;
 transition: .3s ease;	
  outline: none;
  padding: 10px;

}		

input, select, textarea{
    color: white;
}

input[type=submit] {
  border: 3px solid #E7552C;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: transparent;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  width:100%;
}
input[type=submit]:hover{
  background: #E7552C;
}







