<div class="suggestion">
<div class="s-text">
<h2>Need a website? </h2>
<p> SupportLabs can hook you up with your own custom website.</p>
</div>
</div>

<div class="tool">
<div class="description">
<h1>Donation Goal</h1>
<p>Show your viewers progress towards your goal by displaying a progress bar.</p>
</div>
<div class="template-selection">
<h2>Templates</h2>
<p> Why not use some of these templates made  by our communtiy </p>
</div>
	<div class="tool-url">
	<h3>Tool URL</h3>
	<input type="password" class="tool-url-field"> </input>
	<br>
	   <p>⚠️This is your widget url. Never show this to anyone!</p>
</div>