<div class="suggestion">
<div class="s-text">
<h2>Need a website? </h2>
<p> SupportLabs can hook you up with your own custom website.</p>
</div>
</div>

<div class="tool">
<div class="description">
<h1>Alert Box </h1>
<p>Reward your loyal fans by displaying cool alerts on the stream.</p>
</div>
<div class="template-selection">
<h2>Templates</h2>
<p> Why not use some of these templates made  by our communtiy </p>
</div>
	<div class="tool-url">
	<h3>Tool URL</h3>
	<input type="password" class="tool-url-field"> </input>
	<br>
	   <p>⚠️This is your widget url. Never show this to anyone!</p>
</div>
<div class= "chatbox-settings">

<select name="theme" id="chatbox-theme">
<option value="classic"> Classic </option>
<option value="boxed"> Boxed </option>
<option value="old_school"> Old School </option>
<option value="compact">Compact </option>
</select>
<input type="checkbox" id="show-streamer-badge" name="show-streamer-badge">
<input type="checkbox" id="show-moderator-badge" id="show-moderator-badge">
<input type="checbox" id="show-turbo-badge" id="show-turbo-badge">
<input type="checkbox" id="show-prime-badge" id="show-prime-badge">
</div>
<h4>Extra Checkboxes
<input type="checkbox" id="enable_betterttv-emotes" name="enable_betterttv-emotes"> 
<input type="checkbox" id="enable_frankerfacez-emotes" name="enable_frankerfacez-emotes">
<input type="text" class="color-picker" name="background-color" id="chatbox-background-color">
<p>The background color will only show up in your window. It will not show up in your streaming software </p>
<input type="slider" name="font-size" id="chatbox-font-size">
<input type="checkbox" name="always-show-messages">
<input type="slider" name="hide-after" id="hide-after">
<input type="slider" name="chat-delay" id="chat-delay">
<h4> Hide Chatters </h4>
<input type="checkbox" name="hide-chatbots" id="hide-chatbots">
<input type="checkbox" name="hide-commands" id="hide-commands">
<textarea name="muted-chatters" id="muted-chatters">




</textarea>
<a name="apply" class=" button apply apply-muted-chatters" id="muted-chatters">
<input type="text" placeholder="Type in banned words, seperated by commas." name="bad-words" id="bad-words">
<div class="enable-custom-html subscriber-enable-custom-html">
	<h4>Custom HTML</h4>
	<label for="chatbox-custom-html">On</label>
	<input type="radio" name="chatbox-custom-html" class="on" value="on">
	<label for="chatbox-custom-html">Off</label>
	<input type="radio" name="chatbox-custom-html" class="on" value="off">
</div>


